<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LRDXRClient"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode|density|keyboardHidden"
            android:resizeableActivity="true"
            android:theme="@style/Theme.LRDXRClient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Quest specific intent filter for VR -->
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
            <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|quest3|questpro"/> <!-- I don't know if this is the actually quest pro flag lol -->
            
            <!-- Quest 2D Window Configuration -->
            <!-- Increase resolution to 2560x1440 for better clarity -->
            <meta-data android:name="com.oculus.vrshell.desktop_mode_dims" android:value="1280x720"/>
            <meta-data android:name="com.oculus.vrshell.desktop_dpi" android:value="480"/>
            <meta-data android:name="com.oculus.vrshell.free_form_window" android:value="true"/>
            
            <layout
                android:defaultHeight="720dp"
                android:defaultWidth="1280dp"
                android:gravity="center"
                android:minHeight="720dp"
                android:minWidth="1280dp" />
        </activity>
    </application>

</manifest>